/* 
	Project Name: Landing Page;
	Author: Md. Jisan Ahmed;
	Author URI: https://github.com/nfjisan;
	Description: This is landing page project;
	tags: Landing page, website, blog page;
	Version: 1.0;

	==============================================
		Write your own css code here
	==============================================

*/


