/* 
	Project Name: Landing Page;
	Author: Md. Jisan Ahmed;
	Author URI: https://github.com/nfjisan;
	Description: This is landing page project;
	tags: Landing page, website, blog page;
	Version: 1.0;

	==============================================
		table of content
	==============================================
		1. default and core css
		2. Header
		3. Main Menu
		4. Slider
		5. Services
		6. Team
		7. Footer


*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Roboto:ital,wght@0,400;1,500;1,900&display=swap');
/* font-family: 'Oswald', sans-serif; */

body{
	margin:0px;
	padding: 0px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

ul{
	list-style: none;
	padding: 0px;
	margin:0px;
}

a{
	text-decoration: none;
}

.container{
	max-width: 1170px;
	margin:0px auto;
}

.title{

}
.title h2{
	text-align: center;
    font-size: 65px;
    color: #990000;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    margin: 0px;
    margin-bottom: 25px;
}





/*
	==============================================================
		2. Header
	==============================================================
*/
.header_section{
	background-color: #ededed;
	padding: 5px 0px;
}
.header{
	display: flex;
	flex-direction: row;
}
.header_left{
	flex: 1;
}
.header_left img{
	width:50px;
}
.header_right{
	flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}
.header_right a{
	color: #990000;
    font-size: 18px;
    margin-left: 6px;
}
.header_right a:hover{
	color:#006699;
}









/*
	==============================================================
		3. Main Menu
	==============================================================
*/
.main_menu_section{
	background-color: #990000;
}
.main_menu{
	display: flex;
}
.main_menu a{
	    font-size: 18px;
    color: #fff;
    padding: 12px 18px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
}
.main_menu a:hover{
	background-color: #006699;
}






/*
	==============================================================
		5. Services
	==============================================================
*/
.services_section{
	padding-top:100px;
	padding-bottom: 50px;
}
.services{
	display: flex;
}
.single_services{
    background: #dddfe2;
    margin: 15px;
    padding: 35px 15px;
    position: relative;
    border-radius: 5px;
    transition: 0.3s;
}
.single_services:after{
	position: absolute;
    content: '';
    width: 100px;
    height: 10px;
    background-color: purple;
    top: 0px;
    left: 35%;
    transition: 0.8s;
}
.single_services:hover{
	transform: scale(1.1);
}
.single_services:hover.single_services:after{
	top: -5px;
}
.single_services h3{
	font-weight: 600;
    font-family: 'Oswald', sans-serif;
    color: #006699;
    font-size: 25px;
    margin: 0px;
    text-align: center;
}
.single_services p{
	font-size: 16px;
    color: #000;
    margin: 0px;
    margin-top: 10px;
}



/*
	==============================================================
		6. Team
	==============================================================
*/

.team_section{
	padding-top:50px;
	padding-bottom: 100px;
}
.team{
	display: flex;
    justify-content: space-between;
}
.single_team{
	background-color: #dddfe2;
	padding: 15px;
	position: relative;
	border-radius: 10px;
}
.single_team:after{
	content: '';
	position: absolute;
	top:0px;
	left: 0px;
	width:0%;
	height:100%;
	background: linear-gradient(to bottom, #ffeb3c 0%, #ff9600 100%);
	-webkit-background: linear-gradient(to top, #ffeb3c 0%, #ff9600 100%);
	transition: all 600ms ease;
	-webkit-transition:all 600ms ease;
	border-radius: 10px;
}
.single_team:hover::after{
	width:100%;
	z-index: 1;
}

.single_team_top{
	display: flex;
	z-index: 5;
}
.team_pic{
	flex: 3;
	z-index: 5;
	margin-right: 15px;
}
.team_pic img{
	width:140px;
	border: 8px solid rebeccapurple;
	border-radius: 10px;
	margin-left: -40px;
}
.team_social_link{
	flex: 1;
    z-index: 5;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 20px;
}
.team_social_link a{
	     color: #990000;
    font-size: 20px;
    margin-bottom: 5px;
}
.single_team_bottom{
	z-index: 5 !important;
	position: relative;
}
.single_team_bottom h2{
	z-index: 5;
}





/*
	==============================================================
		7. Footer
	==============================================================
*/
.footer_section{
	background-color: #990000;
	padding: 5px 0px;
}
.footer_section p{
	color:#fff;
	font-size: 16px;
	text-align: center;;
}