/* 
	Project Name: Landing Page;
	Author: Md. Jisan Ahmed;
	Author URI: https://github.com/nfjisan;
	Description: This is landing page project;
	tags: Landing page, website, blog page;
	Version: 1.0;

	==============================================
		table of content
	==============================================
		1. default and core css
		2. Header
		3. Main Menu
		4. Slider
		5. Services
		6. Team
		7. Footer


*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Roboto:ital,wght@0,400;1,500;1,900&display=swap');
/* font-family: 'Oswald', sans-serif; */

body{
	margin:0px;
	padding: 0px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

ul{
	list-style: none;
	padding: 0px;
	margin:0px;
}

a{
	text-decoration: none;
}

.container{
	max-width: 1170px;
	margin:0px auto;
}

.title{

}
.title h2{
	text-align: center;
    font-size: 65px;
    color: #990000;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    margin: 0px;
    margin-bottom: 25px;
}





/*
	==============================================================
		2. Header
	==============================================================
*/
.header_section{
	background-color: #ededed;
	padding: 5px 0px;
}
.header{
	display: flex;
	flex-direction: row;
}
.header_left{
	flex: 1;
}
.header_left img{
	width:50px;
}
.header_right{
	flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}
.header_right a{
	color: #990000;
    font-size: 18px;
    margin-left: 6px;
}
.header_right a:hover{
	color:#006699;
}









/*
	==============================================================
		3. Main Menu
	==============================================================
*/
.main_menu_section{
	background-color: #990000;
}
.main_menu{
	display: flex;
}
.main_menu a{
	    font-size: 18px;
    color: #fff;
    padding: 12px 18px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
}
.main_menu a:hover{
	background-color: #006699;
}






/*
	==============================================================
		5. Services
	==============================================================
*/
.services_section{
	padding: 100px 0px;
}
.services{
	display: flex;
}
.single_services{
    background: #dddfe2;
    margin: 15px;
    padding: 35px 15px;
    position: relative;
    border-radius: 5px;
    transition: 0.3s;
}
.single_services:after{
	position: absolute;
    content: '';
    width: 100px;
    height: 10px;
    background-color: purple;
    top: 0px;
    left: 35%;
    transition: 0.8s;
}
.single_services:hover{
	transform: scale(1.1);
}
.single_services:hover.single_services:after{
	top: -5px;
}
.single_services h3{
	font-weight: 600;
    font-family: 'Oswald', sans-serif;
    color: #006699;
    font-size: 25px;
    margin: 0px;
    text-align: center;
}
.single_services p{
	font-size: 16px;
    color: #000;
    margin: 0px;
    margin-top: 10px;
}